---
layout: index
title: Robot Ruckus
tagline: Your favorite robots - destroying each other - for your amusement.
css:
#js: sliders.js
keywords: combat robot, fighting robot, robot, maker, maker faire
canonical: http://www.robotruckus.org
---
{% include JB/setup %}
<!-- Content Area Start -->
<div id="content">
      <!-- sliders -->
      <div id="sliders">
        <div class="full-width">
          <!-- light slider -->
          <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
              <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-slider" data-slide-to="1"></li>
                  <li data-target="#carousel-slider" data-slide-to="2"></li>
		              <li data-target="#carousel-slider" data-slide-to="3"></li>
		              <li data-target="#carousel-slider" data-slide-to="4"></li>

                </ol>
                <div class="carousel-inner" role="listbox">

                  <div class="carousel-item active">
                    <img src="assets/images/slider/robot-ruckus-perf-metal-1280x800.jpg" alt="">
                    <div class="carousel-caption">
                    </div>
                  </div>

                  <div class="carousel-item">
                    <img src="assets/images/slider/robot-fighting-time.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown">Robot <span class="text-primary">Ruckus</span></h3>
                      <h5 class="slide-text animated fadeIn">The LARGEST heavyweight combat robot competition in the U.S. that isn't <i>that</i>&nbsp TV show.</h5>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/slider/ray-tombstone.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown">Join the <span class="text-primary">Ruckus!</span></h3>
                      <h5 class="slide-text animated fadeIn">Build and compete for fun, prizes and glory!</h5>
                      <a href="{{ "/compete" | prepend:site.baseurl }}" target="_blank" class="btn btn-lg btn-default-filled animated fadeInUp">Rules & Registration</a>
                    </div>
                  </div>

		<div class="carousel-item">
                    <img src="assets/images/slider/mammoth-krackin.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">Heavyweight</span> Robot Battles!</h3>
                      <h5 class="slide-text animated fadeIn">We like big bots and we cannot lie!</h5>
                    </div>
                  </div>
		<div class="carousel-item">
                    <img src="assets/images/slider/girl-kraken.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown">See your <span class="text-primary">Favorite</span> Bots!</h3>
                      <h5 class="slide-text animated fadeIn">Bots of all sizes will be competing, and several of your favorite Battlebots will be on display!</h5>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                  <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                  <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->

      <div class="mb-60"></div>
      <div class="mb-60"></div>
	<div id="features" class="container">
	<!-- SERVICES -->
            <div class="sub-title">
              <span>Be part of the Ruckus!</span>
            </div>
            <div class="row">
              <!-- Start Service Icon 1 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-content">
                    <h4><a href="#">Live Robot Combat</a></h4>
                    <p>
                      See your favorite robot builders from TV having fun destroying each other's toys!
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 1 -->

              <!-- Start Service Icon 2 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-content">
                    <h4><a href="{{ "/#battlebots" | prepend:site.baseurl }}">{{site.battlebots.size}} BattleBots Teams!</a></h4>
                    <p>
                      Meet your favorite Battlebots builders!
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 2 -->

              <!-- Start Service Icon 3 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-content">
                    <h4><a href="{{ "/compete" | prepend:site.baseurl }}">156 Fighting Robots!</a></h4>
                    <p>
                      156 robots competing in weight classes from 150 grams to 250 pounds!
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 3 -->

              <!-- Start Service Icon 4 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-content">
                    <h4><a href="{{ "/#tickets" | prepend:site.baseurl }}">Included with Maker Faire</a></h4>
                    <p>
                      Robot Ruckus is included with your <a href="{{ "/#tickets" | prepend:site.baseurl }}">Maker Faire Orlando</a> ticket!
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 4 -->

              <!-- Start Service Icon 5 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">

                  <div class="service-content">
                    <h4><a href="https://ruckus-fundraiser.eventbrite.com" target="_blank">Need More Battlebots?</a></h4>
                    <p>
                      Buy a Donation Ticket to the exclusive <a href="https://ruckus-fundraiser.eventbrite.com" target="_blank">Robot Ruckus VIP Fundraiser</a>.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 5 -->

              <!-- Start Service Icon 6 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">

                  <div class="service-content">
                    <h4><a href="https://www.facebook.com/robotruckus/" target="_blank">Follow us on Facebook</a></h4>
                    <p>
                      Follow <a href="https://www.facebook.com/robotruckus/" target="_blank">Robot Ruckus on Facebook</a> for the latest news & updates!
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 6 -->
            </div>
	    </div>
            <div class="mb-60"></div>
            <div class="mb-60"></div>

            <!-- Team Members 04 -->
            <a name="battlebots"</a>
            <div class="container">
                  <div class="team-members-tow mtb-50">
                    <div class="sub-title">
                      <span>BattleBots Teams attending Robot Ruckus 2019</span>
                    </div>

                    <div class="row">

                    {% for team in site.battlebots %}

                      <div class="col-sm-6 col-md-6">
                        <!-- Team Item Starts -->
                        <figure>
                          <img src="assets/images/battlebots-teams/{{ team.team-photo }}" alt="">
                          <div class="image-overlay">
                            <div class="overlay-text text-center">
                              <div class="info-text">
                                <strong>{{ team.bot-name }}</strong>
                                <span>{{ team.participation }}</span>
                              </div>
                              <hr class="small-divider border-white">
                              <ul class="social-icons">
                                {% if team.facebook %}<li><a href="https://www.facebook.com/{{team.facebook}}/" target = "_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>{% endif %}
                                {% if team.instagram %}<li><a href="https://www.instagram.com/{{team.instagram}}" target = "_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>{% endif %}
                                {% if team.twitter %}<li><a href="https://www.twitter.com/{{team.twitter}}" target = "_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>{% endif %}
                                {% if team.youtube %}<li><a href="https://www.youtube.com/c/{{team.youtube}}" target = "_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>{% endif %}
                              </ul>
                            </div>
                          </div>
                        </figure>
                        <!-- Team Item Ends -->
                      </div>

                    {% endfor %}
                    </div>

                  </div>
                  <div>
                  <h6>Please note that Battlebot team participation is based on their travel schedule and is subject to change at any time. Hover over each team to learn more about their planned participation.</h6>
                  </div>
            </div>
            <!-- End Team Members 04 -->

	  <div class="mb-60"></div>
    <div class="mb-60"></div>
    <div class="mb-60"></div>

        <a name="tickets"></a>

        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="sub-title">
                <span>Robot Ruckus is included with your Maker Faire Orlando 2019 ticket!</span>
              </div>
              <p class="lead">
                Immerse yourself in Maker culture at <a href="https://www.makerfaireorlando.com" target="_blank">Maker Faire Orlando</a> with endless exhibits, a performance stage, big art and spectacle,
                hands-on making and learning— all showcasing the creative and experimental folks who make, play, tinker and hack!
                </p>
              <p class="lead">
                Combat Robots have been part of Maker Faire Orlando since 2013, and we've been growing the competition each year.
                The Maker Effect Foundation, producers of Maker Faire Orlando, purchased the heavyweight combat robot arena in 2018 to
                ensure that combat robot builders of all ages would have a place to learn, build, and compete.
                </p>
                <p class="lead">
                  Your Maker Faire Orlando ticket helps fund the non-profit event and the upkeep of the heavyweight combat robot arena!
                  <a href="https://makerfaireorlando.eventbrite.com">Get your tickets today!</a>
                  </p>
            <div class="video-responsive">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ZF23DRl-9Ms" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              </div>
            </div>
            <div class="col-xs-12 col-sm-12">
              <div class="hero-content-v2">
                <a href="https://makerfaireorlando.eventbrite.com" class="btn btn-lg btn-default-filled animated fadeInUp">Get Your Maker Faire Orlando Tickets!</a>
              </div>
            </div>
          </div>
        </div>

	<!-- END HEADER -->



<!-- Content area end -->
</div>
